# Crown Accord Canon Guardians
# All changes to constitutional text require review by The Architect

* @Kryssie6985

# Canon text (versioned Crown Accord documents)
/crown-accord/ @Kryssie6985

# Amendment proposals require Council eyes
/amendments/ @Kryssie6985

# Compliance infrastructure
/compliance/ @Kryssie6985

# Waivers require governance review
/waivers/ @Kryssie6985

# GitHub governance
/.github/ @Kryssie6985
